/* Navbar */
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 25px;
    position: sticky;
    top: 0;
    z-index: 100;
    height: 80px;
}

.navbar__item {
    flex: 1;
}

.navbar__logo img {
    height: 35px;
    width: 50px;
    object-fit: cover;
    width: auto;
    display: flex;
    justify-content: flex-start;
}

/* Navbar Ul in the middle */

.navbar__ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 600;
    cursor: pointer;
}

.navbar__ul>li {
    border-radius: 4px;
    padding: 6px 12px;
}

.navbar__ul li:hover {
    backdrop-filter: blur(160px);
    background-color: rgba(0, 0, 0, 0.1);
    transition: .5s;
}

/* Navbar for icons */

.navbar__icons {
    display: flex;
    justify-content: flex-end;
}

.navbar__icons>ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 25px;
    gap: 10px;
}

.navbar__icons>ul>li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    font-weight: 100;
}

.navbar__icons>ul>li:hover {
    backdrop-filter: blur(16px);
    background-color: rgba(0, 0, 0, 0.5);
    transition: .5s;
}

.color-black {
    color: black;
    transition: 0.5s ease-in;
}

.color-white {
    transition: 0.5s;
    color: white;
}

/* navChild */

.navChild {
    position: absolute;
    width: 100%;
    top: 40px;
    left: 0;
}


.background_effect {
    background-color: white;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s;
    z-index: -1;
}

.background_blur {
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    transition: all 0.5s;
    z-index: -1;
    backdrop-filter: blur(4px);
}


/* Sidebar css */

.navbar__menu {
    font-size: 16px;
    padding: 8px 10px;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    cursor: pointer;
}


@media screen and (max-width: 990px) {
    .navbar__ul {
        display: none;
    }
}