@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --c-wh: #fff;
}


a {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
  font-weight: inherit;
}

ul {
  margin: 0;
  padding: 0;
  color: inherit;
}

li {
  list-style: none;
  color: inherit;
}

svg {
  color: inherit;
}